.navbar-brand {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
  }
  .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #007BFF !important;
  }
  
  .custom-toggler {
    border-color: transparent;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23EAEAEA' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  @media (min-width: 992px) {
    .navbar-nav .nav-item {
      margin-left: 10px;
    }
  }
  